.header {
  background-color: #d65600;
  height: 8rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: static; }
  .header .header__logoBox {
    height: 8rem;
    display: flex;
    align-items: flex-end;
    margin: 0 0 0 10px; }
  .header .boxBuscar {
    display: flex;
    align-items: flex-end;
    margin: 0 0 15px 0; }
    .header .boxBuscar .barraBuscar {
      padding: 8px 10px 8px 35px;
      outline: none;
      border: none;
      border-radius: 3px;
      background: white url("../multimedia/search-icon.png") no-repeat 9px center;
      width: 600px; }
  .header .header__nav {
    margin: 0 3% 0 0;
    display: flex; }
  .header .header__listaNavegacion {
    display: flex;
    list-style-type: none;
    align-items: flex-end; }
    .header .header__listaNavegacion li {
      margin: 18px; }
    .header .header__listaNavegacion a {
      text-decoration: none;
      color: black;
      font-family: 'Nunito', sans-serif;
      font-weight: bolder; }
      .header .header__listaNavegacion a:hover {
        color: white;
        transition: all .3s; }

@media (max-width: 1550px) {
  .header .boxBuscar .barraBuscar {
    width: 450px; } }

@media (max-width: 1450px) {
  .header {
    display: flex;
    justify-content: flex-start; }
    .header .boxBuscar {
      transform: translate(70px, -60px);
      margin: 0 0 0 5%; }
      .header .boxBuscar .barraBuscar {
        width: 800px; }
    .header #nav {
      position: absolute;
      top: 70px;
      left: 300px;
      margin: 0 0 0 5%; }
      .header #nav .header__listaNavegacion {
        display: flex;
        justify-content: space-between;
        width: 800px; }
        .header #nav .header__listaNavegacion li {
          margin: 18px 30px; } }

@media (max-width: 1280px) {
  .header .boxBuscar .barraBuscar {
    width: 650px; }
  .header #nav {
    margin: 0; } }

@media (max-width: 1130px) {
  .header .boxBuscar .barraBuscar {
    width: 550px; }
  .header #nav .header__listaNavegacion {
    justify-content: flex-start;
    width: 700px; }
    .header #nav .header__listaNavegacion li {
      margin: 18px 20px; } }

@media (max-width: 1024px) {
  .header .boxBuscar {
    margin: 0; }
  .header #nav {
    left: 250px;
    margin: 0; }
    .header #nav .header__listaNavegacion {
      width: 600px; }
      .header #nav .header__listaNavegacion li {
        margin: 18px 10px; } }

@media (max-width: 768px) {
  .header {
    display: flex; }
    .header .header__logoBox {
      display: flex;
      justify-content: center;
      align-items: center; }
      .header .header__logoBox .header__logo {
        width: 100%;
        margin: 10px 0 0 0; }
    .header #nav {
      align-self: start;
      margin: 0%; }
    .header .header__listaNavegacion {
      flex-flow: row wrap; }
      .header .header__listaNavegacion li {
        margin: 15px 16px 0px 16px; }
    .header .header__listaNavegacion {
      font-size: 18px; } }

@media (max-width: 520px) {
  .header #nav {
    margin: 0%; }
  .header .header__listaNavegacion {
    font-size: 12px; }
    .header .header__listaNavegacion li {
      margin: 3% 3% 0 3%; } }

.eslogan {
  display: flex;
  justify-content: center;
  width: 75%;
  font-family: 'Nunito', sans-serif;
  font-style: oblique;
  font-size: 14px;
  text-align: center;
  margin: 2% auto; }

@media (max-width: 1024px) {
  .eslogan {
    font-size: 12px; } }

@media (max-width: 768px) {
  .eslogan {
    font-size: 10px; } }

@media (max-width: 520px) {
  .eslogan {
    width: 85%;
    font-size: 8px; } }

#footer {
  background-color: #ef6001;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Open Sans', sans-serif; }
  #footer .footer_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 30%; }
  #footer .footer__contacto ul {
    list-style-type: none; }
    #footer .footer__contacto ul li a {
      color: black; }
  #footer .footer__derechos {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center; }
    #footer .footer__derechos span {
      display: flex;
      justify-content: center; }
  #footer .footer__socialMedia {
    display: flex;
    flex-flow: column nowrap;
    align-items: center; }
    #footer .footer__socialMedia span {
      display: flex;
      align-items: center;
      font-weight: 600;
      color: #acacac;
      padding: 6px; }
      #footer .footer__socialMedia span img {
        width: 24px; }

@media (max-width: 620px) {
  body #footer {
    font-size: 14px; } }

@media (max-width: 520px) {
  body #footer {
    font-size: 12px; } }

@media (max-width: 450px) {
  body #footer {
    font-size: 10px; }
    body #footer .footer__socialMedia img {
      width: 18px; } }

.containerForm {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .containerForm .cotizarVehiculo {
    background-color: white;
    border-radius: 7px;
    margin: 2% 8%;
    padding: 5% 3%;
    width: 70%;
    box-shadow: 0px 0px 12px 3px grey;
    -webkit-box-shadow: 0px 0px 12px 3px grey;
    -moz-box-shadow: 0px 0px 12px 3px grey; }
    .containerForm .cotizarVehiculo .preguntaCotizar {
      font-family: 'Nunito', sans-serif;
      font-weight: bolder;
      margin: 2% 0;
      font-size: 1rem; }
    .containerForm .cotizarVehiculo .formCotizar {
      font-family: 'Nunito', sans-serif;
      margin: 2% 0;
      font-size: 0.8rem; }
      .containerForm .cotizarVehiculo .formCotizar .listaCotizar {
        list-style-type: none;
        font-family: 'Nunito', sans-serif;
        font-weight: bolder;
        margin: 10px;
        padding: 10px; }
        .containerForm .cotizarVehiculo .formCotizar .listaCotizar li {
          margin: 10px 0;
          font-size: 1rem; }
        .containerForm .cotizarVehiculo .formCotizar .listaCotizar select {
          margin: 0 0 0 16px;
          border-radius: 10px;
          outline: none; }
        .containerForm .cotizarVehiculo .formCotizar .listaCotizar input {
          margin: 0 0 0 16px;
          border-radius: 10px;
          border: 1px solid black;
          outline: none; }
      .containerForm .cotizarVehiculo .formCotizar .btnCotizar {
        padding: 1% 2%;
        margin: 1px 2%;
        border: 1px solid black;
        border-radius: 4px;
        background-color: white; }
        .containerForm .cotizarVehiculo .formCotizar .btnCotizar:hover {
          transition: all .3s;
          background-color: black;
          color: white; }
      .containerForm .cotizarVehiculo .formCotizar .btnBorrarCotizar {
        padding: 1% 2%;
        margin: 1px 2%;
        border: 1px solid black;
        border-radius: 4px;
        background-color: white; }
        .containerForm .cotizarVehiculo .formCotizar .btnBorrarCotizar:hover {
          transition: all .3s;
          background-color: black;
          color: white; }

@media (max-width: 768px) {
  .main .cotizarVehiculo .preguntaCotizar {
    font-size: 1rem; } }

@media (max-width: 520px) {
  .main .cotizarVehiculo .preguntaCotizar {
    font-size: 0.8rem; } }

.containerForm {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .containerForm .simplificarBusqueda {
    background-color: white;
    border-radius: 7px;
    margin: 2% 8%;
    padding: 3% 3%;
    width: 70%;
    box-shadow: 0px 0px 12px 3px grey;
    -webkit-box-shadow: 0px 0px 12px 3px grey;
    -moz-box-shadow: 0px 0px 12px 3px grey; }
    .containerForm .simplificarBusqueda h1 {
      font-family: 'Nunito', sans-serif;
      font-weight: bolder;
      margin: 2% 0;
      font-size: 1.5rem; }
    .containerForm .simplificarBusqueda h2 {
      font-family: 'Nunito', sans-serif;
      margin: 0;
      font-size: 1.3rem; }
    .containerForm .simplificarBusqueda form .listaAsesoria {
      list-style-type: none;
      font-family: 'Nunito', sans-serif;
      font-weight: bolder;
      margin: 10px 10px 0 10px;
      padding: 10px; }
      .containerForm .simplificarBusqueda form .listaAsesoria li {
        margin: 2% 0;
        font-size: 1rem; }
      .containerForm .simplificarBusqueda form .listaAsesoria select {
        margin: 0 0 0 16px;
        border-radius: 10px;
        outline: none; }
        .containerForm .simplificarBusqueda form .listaAsesoria select option {
          font-weight: 100; }
      .containerForm .simplificarBusqueda form .listaAsesoria input {
        margin: 0 0 0 16px;
        border-radius: 10px;
        border: 1px solid black; }
      .containerForm .simplificarBusqueda form .listaAsesoria span {
        margin: 0 0 0 1%; }
    .containerForm .simplificarBusqueda form input {
      padding: 1% 2%;
      margin: 1px 2%;
      border: 1px solid black;
      border-radius: 4px;
      background-color: white; }
      .containerForm .simplificarBusqueda form input:hover {
        transition: all .3s;
        background-color: black;
        color: white; }

.mainMiCuenta {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .mainMiCuenta .mainMiCuenta__misDatos {
    background-color: white;
    border-radius: 7px;
    margin: 2% 8%;
    padding: 5% 3%;
    box-shadow: 0px 0px 12px 3px grey;
    -webkit-box-shadow: 0px 0px 12px 3px grey;
    -moz-box-shadow: 0px 0px 12px 3px grey;
    font-family: 'Nunito', sans-serif; }
    .mainMiCuenta .mainMiCuenta__misDatos h1 {
      font-size: 1.5rem;
      margin: 0 0 0 10px; }
    .mainMiCuenta .mainMiCuenta__misDatos section {
      display: flex;
      flex-flow: row nowrap; }
      .mainMiCuenta .mainMiCuenta__misDatos section .mainMiCuenta__fotoPerfil {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start; }
        .mainMiCuenta .mainMiCuenta__misDatos section .mainMiCuenta__fotoPerfil img {
          width: 100%; }
      .mainMiCuenta .mainMiCuenta__misDatos section .mainMiCuenta__datos {
        width: 200px;
        display: flex;
        flex-flow: row wrap; }
        .mainMiCuenta .mainMiCuenta__misDatos section .mainMiCuenta__datos div {
          margin: 5px; }

@media (max-width: 520px) {
  .mainMiCuenta .mainMiCuenta__misDatos h1 {
    font-size: 1rem; } }

.mainGuardados {
  display: flex; }
  .mainGuardados .misGuardadosPrincipal {
    font-family: 'Nunito', sans-serif;
    margin: 3%; }
    .mainGuardados .misGuardadosPrincipal h1 {
      margin: 5%; }
    .mainGuardados .misGuardadosPrincipal .misGuardadosPrincipal__guardados {
      display: flex;
      flex-flow: column nowrap;
      align-items: center; }
      .mainGuardados .misGuardadosPrincipal .misGuardadosPrincipal__guardados div {
        background-color: white;
        border-radius: 7px;
        margin: 2% 8%;
        padding: 5% 3%;
        width: 90%;
        box-shadow: 0px 0px 12px 3px grey;
        -webkit-box-shadow: 0px 0px 12px 3px grey;
        -moz-box-shadow: 0px 0px 12px 3px grey; }
        .mainGuardados .misGuardadosPrincipal .misGuardadosPrincipal__guardados div a img {
          width: 100%;
          max-width: 400px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f8f8f8; }
  body .main .destacados {
    display: flex;
    flex-flow: column nowrap;
    margin: 4% 5%;
    color: black;
    font-family: 'Nunito', sans-serif;
    font-size: 18px; }
    body .main .destacados h2 {
      align-self: center;
      margin: 2% 0; }
    body .main .destacados aside {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center; }
      body .main .destacados aside h3 {
        margin: 1% 0; }
      body .main .destacados aside .listaFiltro {
        display: flex;
        list-style-type: none; }
        body .main .destacados aside .listaFiltro select {
          background-color: white;
          padding: 5px;
          border: 1px solid black;
          border-radius: 15px;
          margin: 0 48px 0 18px;
          outline: none; }
      body .main .destacados aside .botonesFiltro {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin: 2% 0 0 0;
        width: 250px; }
        body .main .destacados aside .botonesFiltro input {
          padding: 8px 15px;
          border: 1px solid black;
          border-radius: 18px;
          background-color: white;
          transition: all .3s; }
          body .main .destacados aside .botonesFiltro input:hover {
            color: white;
            background-color: black; }
  body .main .publicacionesPrincipal {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 75%;
    margin: 2% auto; }
    body .main .publicacionesPrincipal .publicacion {
      width: calculate(img);
      background-color: rgba(255, 255, 255, 0.74);
      padding: 10px 10px 20px 10px;
      margin: 20px 10px;
      border-radius: 4px;
      box-shadow: 0px 0px 12px 3px grey;
      -webkit-box-shadow: 0px 0px 12px 3px grey;
      -moz-box-shadow: 0px 0px 12px 3px grey;
      transition: all 0.1s ease-in-out; }
      body .main .publicacionesPrincipal .publicacion:hover {
        box-shadow: 0px 0px 40px 3px #585858;
        -webkit-box-shadow: 0px 0px 40px 3px #585858;
        -moz-box-shadow: 0px 0px 40px 3px #585858;
        transform: scale(110%); }
      body .main .publicacionesPrincipal .publicacion img {
        width: 330px;
        height: 225px;
        border-radius: 5px; }
      body .main .publicacionesPrincipal .publicacion h3 {
        display: flex;
        justify-content: center;
        font-family: 'Ubuntu', sans-serif;
        margin: 10px 0; }
  body .main .destacadoPrincipal {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.678);
    border-radius: 7px;
    margin: 2% 8%;
    padding: 5% 3%;
    box-shadow: 0px 0px 12px 1px grey;
    -webkit-box-shadow: 0px 0px 12px 1px grey;
    -moz-box-shadow: 0px 0px 12px 1px grey; }
    body .main .destacadoPrincipal img {
      width: 750px;
      border-radius: 7px;
      box-shadow: 0px 0px 6px 1px grey;
      -webkit-box-shadow: 0px 0px 6px 1px grey;
      -moz-box-shadow: 0px 0px 6px 1px grey; }
  body .main .masResultados {
    display: flex;
    justify-content: center;
    margin: 1rem 0 3rem 0; }
    body .main .masResultados button {
      font-family: 'Nunito', sans-serif;
      padding: 10px;
      border-radius: 5px;
      font-weight: bold;
      border: 1px solid black;
      background-color: white;
      box-shadow: inset 0 0 0 0 white;
      transition: ease-out 0.2; }
      body .main .masResultados button:hover {
        transition: all .4s;
        box-shadow: inset 109px 0 0 0 black;
        color: white; }

@media (max-width: 1570px) {
  body .main .publicacionesPrincipal {
    width: 90%;
    margin: 1% auto; } }

@media (max-width: 1300px) {
  body .main .publicacionesPrincipal {
    width: 100%;
    margin: 0 auto; } }

@media (max-width: 1024px) {
  body .main .destacadoPrincipal img {
    width: 100%; }
  body .main .destacados {
    font-size: 16px;
    margin: 20px; }
    body .main .destacados aside .listaFiltro {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly; }
      body .main .destacados aside .listaFiltro li {
        margin: 5px; }
        body .main .destacados aside .listaFiltro li select {
          margin: 10px; }
  body .main .publicacionesPrincipal {
    width: 100%;
    margin: 1% auto; } }

@media (max-width: 790px) {
  body .main .destacados aside .listaFiltro li {
    margin: 5px; }
    body .main .destacados aside .listaFiltro li select {
      margin: 5px; } }

@media (max-width: 520px) {
  body .main .destacadoPrincipal img {
    width: 100%; } }

@media (max-width: 450px) {
  body .main .destacados aside .listaFiltro {
    display: flex;
    justify-content: flex-start; }
    body .main .destacados aside .listaFiltro li {
      margin: 5px; }
      body .main .destacados aside .listaFiltro li select {
        margin: 5px; } }
