.header {
  background-color: #d65600;
  height: 8rem;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: static; }
  .header .header__boxLogo {
    height: 8rem;
    display: flex;
    align-items: flex-end;
    margin: 0 0 0 10px; }
  .header .header__boxBuscar {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 30%; }
    .header .header__boxBuscar .barraBuscar {
      padding: 8px 10px 8px 35px;
      outline: none;
      border: none;
      border-radius: 3px;
      background: white url("../multimedia/search-icon.png") no-repeat 9px center;
      width: 100%;
      margin: 0 0 15px 0; }
  .header #nav {
    margin: 0 3% 0 0;
    display: flex; }
    .header #nav .header__listaNav {
      display: flex;
      list-style-type: none;
      align-items: flex-end; }
      .header #nav .header__listaNav li {
        margin: 18px; }
      .header #nav .header__listaNav a {
        text-decoration: none;
        color: black;
        font-family: 'Nunito', sans-serif;
        font-weight: bolder; }
        .header #nav .header__listaNav a:hover {
          color: white;
          transition: all .3s; }
  .header #respmenu {
    display: none; }

@media (max-width: 1450px) {
  .header {
    justify-content: flex-start; }
    .header .header__boxBuscar {
      transform: translate(70px, -60px);
      margin: 0 0 0 6%;
      width: 53%; }
    .header #nav {
      position: absolute;
      top: 70px;
      left: 300px;
      margin: 0 0 0 4%; }
      .header #nav .header__listaNav {
        display: flex;
        justify-content: space-between;
        width: 800px; }
        .header #nav .header__listaNav li {
          margin: 18px 30px; } }

@media (max-width: 1280px) {
  .header .header__boxBuscar {
    width: 46%; }
  .header #nav {
    margin: 0; } }

@media (max-width: 1130px) {
  .header #nav .header__listaNav {
    justify-content: flex-start;
    width: 700px; }
    .header #nav .header__listaNav li {
      margin: 18px 20px; } }

@media (max-width: 1024px) {
  .header .header__boxBuscar {
    margin: 0; }
  .header #nav {
    left: 250px;
    margin: 0; }
    .header #nav .header__listaNav {
      width: 600px; }
      .header #nav .header__listaNav li {
        margin: 18px 10px; } }

@media (max-width: 868px) {
  .header .header__boxLogo {
    margin: 0 0 0 100px; }
  .header .header__boxBuscar .barraBuscar {
    margin: 130px 5px 0 -40px; }
  .header #nav {
    display: none; }
  .header #respmenu input[type="checkbox"], .header #respmenu .openMenu, .header #respmenu .closeMenu {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    left: 30px;
    top: 45px;
    width: 36px;
    height: 36px; }
  .header #respmenu .openMenu, .header #respmenu .closeMenu {
    font-size: 36px;
    pointer-events: none; }
  .header #respmenu input[type="checkbox"] {
    opacity: 0; }
  .header #respmenu {
    display: block;
    position: absolute;
    min-height: 36px; }
    .header #respmenu .header__listaNavResp {
      transform: translate(0, 7rem);
      font-family: 'Nunito', sans-serif;
      font-weight: bold; }
      .header #respmenu .header__listaNavResp li a {
        color: black;
        text-decoration: none;
        display: block;
        padding: 12px 25px;
        max-width: 250px;
        background-color: #d65600;
        border-bottom: 1px solid black; }
  .header #respmenu nav {
    display: none; }
  .header #respmenu input:checked ~ nav {
    display: block; }
  .header #respmenu input:checked ~ .openMenu {
    display: none; }
  .header #respmenu input:not(:checked) ~ .closeMenu {
    display: none; } }

@media (max-width: 768px) {
  .header {
    display: flex;
    flex-flow: row wrap; }
    .header .header__boxLogo {
      display: flex;
      justify-content: center;
      align-items: center; }
      .header .header__boxLogo .header__logo {
        width: 100%;
        margin: 20px 0 0 0; }
    .header #nav {
      align-self: start;
      margin: 0%; }
      .header #nav .header__listaNav {
        flex-flow: row wrap;
        font-size: 18px; }
        .header #nav .header__listaNav li {
          margin: 15px 16px 0px 16px; }
    .header .header__boxBuscar {
      width: 35%; } }

@media (max-width: 672px) {
  .header {
    height: 10rem; }
    .header .header__boxBuscar {
      width: 75%; }
      .header .header__boxBuscar .barraBuscar {
        margin: 45px 0 0 20px; } }

@media (max-width: 520px) {
  .header #nav {
    margin: 0%; }
    .header #nav .header__listaNav {
      font-size: 12px; }
      .header #nav .header__listaNav li {
        margin: 3% 3% 0 3%; }
  .header .header__boxBuscar .barraBuscar {
    margin: 45px 0 0 -45px; } }

.eslogan {
  display: flex;
  justify-content: center;
  width: 75%;
  font-family: 'Nunito', sans-serif;
  font-style: oblique;
  font-size: 14px;
  text-align: center;
  margin: 2% auto; }

@media (max-width: 1024px) {
  .eslogan {
    font-size: 12px; } }

@media (max-width: 768px) {
  .eslogan {
    font-size: 10px; } }

@media (max-width: 520px) {
  .eslogan {
    width: 85%;
    font-size: 8px; } }

#footer {
  width: 100%;
  background-color: #ef6001;
  height: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Open Sans', sans-serif; }
  #footer .footer--container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 30%; }
  #footer .footer__contacto ul {
    list-style-type: none; }
    #footer .footer__contacto ul li a {
      color: black; }
  #footer .footer__derechos {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center; }
    #footer .footer__derechos span {
      display: flex;
      justify-content: center; }
  #footer .footer__socialMedia {
    display: flex;
    flex-flow: column nowrap;
    align-items: center; }
    #footer .footer__socialMedia span {
      display: flex;
      align-items: center;
      font-weight: 600;
      color: #acacac;
      padding: 6px; }
      #footer .footer__socialMedia span img {
        width: 24px; }

@media (max-width: 620px) {
  body #footer {
    font-size: 14px; } }

@media (max-width: 520px) {
  body #footer {
    font-size: 12px; } }

@media (max-width: 450px) {
  body #footer {
    font-size: 10px; }
    body #footer .footer__socialMedia img {
      width: 18px; } }

.main .main__cotizar {
  background: linear-gradient(120deg, white 35%, rgba(0, 0, 0, 0)), url(../multimedia/cotizando.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  width: 60%;
  border-radius: 7px;
  margin: 2% 8%;
  padding: 4% 3%;
  box-shadow: 0px 0px 12px 3px grey;
  -webkit-box-shadow: 0px 0px 12px 3px grey;
  -moz-box-shadow: 0px 0px 12px 3px grey; }
  .main .main__cotizar .preguntaCotizar {
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    margin: 2% 0;
    font-size: 1rem; }
  .main .main__cotizar .formCotizar {
    font-family: 'Nunito', sans-serif;
    margin: 2% 0;
    font-size: 0.8rem; }
    .main .main__cotizar .formCotizar .formCotizar__lista {
      list-style-type: none;
      font-family: 'Nunito', sans-serif;
      font-weight: bolder;
      margin: 10px;
      padding: 10px; }
      .main .main__cotizar .formCotizar .formCotizar__lista li {
        margin: 10px 0;
        font-size: 1rem; }
      .main .main__cotizar .formCotizar .formCotizar__lista select {
        margin: 0 0 0 16px;
        border-radius: 10px;
        outline: none; }
      .main .main__cotizar .formCotizar .formCotizar__lista input {
        margin: 0 0 0 16px;
        border-radius: 10px;
        border: 1px solid black;
        outline: none; }
    .main .main__cotizar .formCotizar .btnEnviarCotizar {
      padding: 15px 20px;
      margin: 1px 2%;
      border: 1px solid black;
      border-radius: 4px;
      background-color: white; }
      .main .main__cotizar .formCotizar .btnEnviarCotizar:hover {
        transition: all .3s;
        background-color: black;
        color: white; }
    .main .main__cotizar .formCotizar .btnBorrarCotizar {
      padding: 15px 20px;
      margin: 1px 2%;
      border: 1px solid black;
      border-radius: 4px;
      background-color: white; }
      .main .main__cotizar .formCotizar .btnBorrarCotizar:hover {
        transition: all .3s;
        background-color: black;
        color: white; }

@media (max-width: 520px) {
  .mainCotizar {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../multimedia/cotizando.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right; }
    .mainCotizar .main__cotizar {
      background: rgba(255, 255, 255, 0.85);
      width: 90%; }
      .mainCotizar .main__cotizar .preguntaCotizar h1 {
        font-size: 20px; }
      .mainCotizar .main__cotizar .formCotizar h2 {
        font-size: 16px; }
      .mainCotizar .main__cotizar .formCotizar .formCotizar__lista .cotizarKm {
        margin: 0; }
      .mainCotizar .main__cotizar .formCotizar .btnEnviarCotizar, .mainCotizar .main__cotizar .formCotizar .btnBorrarCotizar {
        padding: 2% 4%; } }

.main .main__busquedaAsesorada {
  background: linear-gradient(120deg, white 35%, rgba(0, 0, 0, 0)), url(../multimedia/asesorando.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  width: 60%;
  border-radius: 7px;
  margin: 2% 8%;
  padding: 3% 3%;
  box-shadow: 0px 0px 12px 3px grey;
  -webkit-box-shadow: 0px 0px 12px 3px grey;
  -moz-box-shadow: 0px 0px 12px 3px grey; }
  .main .main__busquedaAsesorada h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    margin: 2% 0;
    font-size: 1.5rem; }
  .main .main__busquedaAsesorada h2 {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    font-size: 1.3rem; }
  .main .main__busquedaAsesorada .formAsesoria .listaAsesoria {
    list-style-type: none;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    margin: 10px 10px 0 10px;
    padding: 10px; }
    .main .main__busquedaAsesorada .formAsesoria .listaAsesoria li {
      margin: 2% 0;
      font-size: 1rem; }
    .main .main__busquedaAsesorada .formAsesoria .listaAsesoria select {
      margin: 0 0 0 16px;
      border-radius: 10px;
      outline: none; }
      .main .main__busquedaAsesorada .formAsesoria .listaAsesoria select option {
        font-weight: 100; }
    .main .main__busquedaAsesorada .formAsesoria .listaAsesoria input {
      margin: 0 0 0 16px;
      border-radius: 10px;
      border: 1px solid black; }
    .main .main__busquedaAsesorada .formAsesoria .listaAsesoria span {
      margin: 0 0 0 1%; }
  .main .main__busquedaAsesorada .formAsesoria input {
    padding: 1.5% 3%;
    margin: 1px 2%;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white; }
    .main .main__busquedaAsesorada .formAsesoria input:hover {
      transition: all .3s;
      background-color: black;
      color: white; }

@media (max-width: 768px) {
  .main .main__busquedaAsesorada {
    width: 90%; } }

@media (max-width: 520px) {
  .mainAsesoramiento {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../multimedia/asesorando.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right; }
    .mainAsesoramiento .main__busquedaAsesorada {
      background: rgba(255, 255, 255, 0.85); }
      .mainAsesoramiento .main__busquedaAsesorada h1 {
        font-size: 20px; }
      .mainAsesoramiento .main__busquedaAsesorada h2 {
        font-size: 16px; } }

.mainMiCuenta {
  display: flex;
  justify-content: center;
  align-items: center; }
  .mainMiCuenta .mainMiCuenta__misDatos {
    background-color: white;
    border-radius: 7px;
    margin: 2% 8%;
    padding: 5% 3%;
    box-shadow: 0px 0px 12px 3px grey;
    -webkit-box-shadow: 0px 0px 12px 3px grey;
    -moz-box-shadow: 0px 0px 12px 3px grey;
    font-family: 'Nunito', sans-serif; }
    .mainMiCuenta .mainMiCuenta__misDatos h1 {
      font-size: 1.5rem;
      margin: 0 0 0 10px; }
    .mainMiCuenta .mainMiCuenta__misDatos section {
      display: flex;
      flex-flow: row nowrap; }
      .mainMiCuenta .mainMiCuenta__misDatos section .mainMiCuenta__datos {
        width: 200px;
        display: flex;
        flex-flow: row wrap; }
        .mainMiCuenta .mainMiCuenta__misDatos section .mainMiCuenta__datos div {
          margin: 5px;
          padding: 30px 0 10px 0;
          border-bottom: 1px solid black; }

@media (max-width: 768px) {
  .mainMiCuenta .mainMiCuenta__misDatos {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between; }
    .mainMiCuenta .mainMiCuenta__misDatos section {
      flex-flow: column wrap; }
      .mainMiCuenta .mainMiCuenta__misDatos section .mainMiCuenta__datos div {
        margin: 5px;
        padding: 10px 0 5px 0; } }

@media (max-width: 520px) {
  .mainMiCuenta .mainMiCuenta__misDatos h1 {
    font-size: 1rem; } }

.mainGuardados {
  display: flex;
  justify-content: center;
  width: 85%;
  margin: auto; }
  .mainGuardados .misGuardadosPrincipal {
    font-family: 'Nunito', sans-serif; }
    .mainGuardados .misGuardadosPrincipal h1 {
      margin: 50px 0 30px 8%; }
    .mainGuardados .misGuardadosPrincipal .misGuardadosPrincipal__guardados {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 0 0 30px 0; }
      .mainGuardados .misGuardadosPrincipal .misGuardadosPrincipal__guardados .guardados--container {
        display: flex;
        flex-flow: row nowrap;
        background-color: white;
        border-radius: 7px;
        margin: 1%;
        padding: 2% 2%;
        width: 100%;
        box-shadow: 0px 0px 12px 3px grey;
        -webkit-box-shadow: 0px 0px 12px 3px grey;
        -moz-box-shadow: 0px 0px 12px 3px grey; }
        .mainGuardados .misGuardadosPrincipal .misGuardadosPrincipal__guardados .guardados--container .guardados__subDiv {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center; }
          .mainGuardados .misGuardadosPrincipal .misGuardadosPrincipal__guardados .guardados--container .guardados__subDiv a img {
            width: 330px;
            height: 225px;
            border-radius: 5px; }
          .mainGuardados .misGuardadosPrincipal .misGuardadosPrincipal__guardados .guardados--container .guardados__subDiv h2 {
            font-size: 1.2rem;
            margin: 5px 0 0 0; }
        .mainGuardados .misGuardadosPrincipal .misGuardadosPrincipal__guardados .guardados--container .guardados__breveDescrip {
          display: grid;
          align-items: center;
          grid-template-columns: 200px 200px 200px;
          font-size: 18px;
          margin: 0 100px;
          border-left: 1px solid black; }
          .mainGuardados .misGuardadosPrincipal .misGuardadosPrincipal__guardados .guardados--container .guardados__breveDescrip div {
            text-align: justify;
            margin: 8px;
            width: 100%; }

@media (max-width: 1170px) {
  .mainGuardados .misGuardadosPrincipal h1 {
    margin: 5% 2%; }
  .mainGuardados .misGuardadosPrincipal .misGuardadosPrincipal__guardados .guardados--container .guardados__breveDescrip {
    grid-template-columns: 150px 150px 150px;
    margin: 10px; } }

@media (max-width: 1024px) {
  .mainGuardados .misGuardadosPrincipal .misGuardadosPrincipal__guardados .guardados--container .guardados__breveDescrip {
    grid-template-columns: auto auto; } }

@media (max-width: 768px) {
  .mainGuardados .misGuardadosPrincipal .misGuardadosPrincipal__guardados .guardados--container .guardados__breveDescrip {
    margin: 10px 0;
    font-size: 16px;
    border: none; }
  .mainGuardados .misGuardadosPrincipal .misGuardadosPrincipal__guardados .guardados--container .guardados__subDiv a img {
    width: 280px;
    height: 190px;
    border-radius: 5px; }
  .mainGuardados .misGuardadosPrincipal .misGuardadosPrincipal__guardados .guardados--container .guardados__subDiv h2 {
    font-size: 1rem; } }

@media (max-width: 580px) {
  .mainGuardados .misGuardadosPrincipal .misGuardadosPrincipal__guardados .guardados--container {
    background-color: rgba(255, 255, 255, 0.74);
    padding: 10px 10px 20px 10px;
    margin: 15px 0;
    border-radius: 4px; }
    .mainGuardados .misGuardadosPrincipal .misGuardadosPrincipal__guardados .guardados--container .guardados__breveDescrip {
      display: none; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f8f8f8; }
  body .main--container {
    min-height: calc(100vh - 16rem);
    display: flex;
    justify-content: center;
    align-items: center; }
  body .main {
    min-height: calc(100vh - 16rem); }
    body .main .main__destacados {
      display: flex;
      flex-flow: column nowrap;
      margin: 4% 5%;
      color: black;
      font-family: 'Nunito', sans-serif;
      font-size: 18px; }
      body .main .main__destacados h2 {
        align-self: center;
        margin: 2% 0; }
      body .main .main__destacados .main__filtros {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center; }
        body .main .main__destacados .main__filtros h3 {
          margin: 1% 0; }
        body .main .main__destacados .main__filtros .main__listaFiltros {
          display: flex;
          list-style-type: none; }
          body .main .main__destacados .main__filtros .main__listaFiltros select {
            background-color: white;
            padding: 5px;
            border: 1px solid black;
            border-radius: 15px;
            margin: 0 48px 0 18px;
            outline: none; }
        body .main .main__destacados .main__filtros .botonesFiltro {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          margin: 2% 0 0 0;
          width: 250px; }
          body .main .main__destacados .main__filtros .botonesFiltro input {
            padding: 8px 15px;
            border: 1px solid black;
            border-radius: 18px;
            background-color: white;
            transition: all .3s; }
            body .main .main__destacados .main__filtros .botonesFiltro input:hover {
              color: white;
              background-color: black; }
    body .main .publicacionesPrincipal {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      width: 75%;
      margin: 2% auto; }
      body .main .publicacionesPrincipal .publicacion {
        background-color: rgba(255, 255, 255, 0.74);
        padding: 10px 10px 20px 10px;
        margin: 20px 10px;
        border-radius: 4px;
        box-shadow: 0px 0px 12px 3px grey;
        -webkit-box-shadow: 0px 0px 12px 3px grey;
        -moz-box-shadow: 0px 0px 12px 3px grey;
        transition: all 0.1s ease-in-out; }
        body .main .publicacionesPrincipal .publicacion:hover {
          box-shadow: 0px 0px 40px 3px #585858;
          -webkit-box-shadow: 0px 0px 40px 3px #585858;
          -moz-box-shadow: 0px 0px 40px 3px #585858;
          transform: scale(110%); }
        body .main .publicacionesPrincipal .publicacion img {
          width: 330px;
          height: 225px;
          border-radius: 5px; }
        body .main .publicacionesPrincipal .publicacion h3 {
          display: flex;
          justify-content: center;
          font-family: 'Ubuntu', sans-serif;
          margin: 10px 0; }
    body .main .main__destacadoPrincipal {
      display: flex;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.678);
      border-radius: 7px;
      margin: 2% 8%;
      padding: 5% 3%;
      box-shadow: 0px 0px 12px 1px grey;
      -webkit-box-shadow: 0px 0px 12px 1px grey;
      -moz-box-shadow: 0px 0px 12px 1px grey; }
      body .main .main__destacadoPrincipal img {
        width: 750px;
        border-radius: 7px;
        box-shadow: 0px 0px 6px 1px grey;
        -webkit-box-shadow: 0px 0px 6px 1px grey;
        -moz-box-shadow: 0px 0px 6px 1px grey; }
    body .main .masResultados {
      display: flex;
      justify-content: center;
      margin: 1rem 0 3rem 0; }
      body .main .masResultados button {
        font-family: 'Nunito', sans-serif;
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
        border: 1px solid black;
        background-color: white;
        box-shadow: inset 0 0 0 0 white;
        transition: ease-out 0.2; }
        body .main .masResultados button:hover {
          transition: all .4s;
          box-shadow: inset 109px 0 0 0 black;
          color: white; }

@media (max-width: 1570px) {
  body .main .publicacionesPrincipal {
    width: 90%;
    margin: 1% auto; } }

@media (max-width: 1300px) {
  body .main .publicacionesPrincipal {
    width: 100%;
    margin: 0 auto; } }

@media (max-width: 1024px) {
  body .main .main__destacadoPrincipal img {
    width: 100%; }
  body .main .main__destacados {
    font-size: 16px;
    margin: 20px; }
    body .main .main__destacados .main__filtros .main__listaFiltros {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly; }
      body .main .main__destacados .main__filtros .main__listaFiltros li {
        margin: 5px; }
        body .main .main__destacados .main__filtros .main__listaFiltros li select {
          margin: 10px; }
  body .main .publicacionesPrincipal {
    width: 100%;
    margin: 1% auto; } }

@media (max-width: 790px) {
  body .main .main__destacados .main__filtros .main__listaFiltros li {
    margin: 5px; }
    body .main .main__destacados .main__filtros .main__listaFiltros li select {
      margin: 5px; } }

@media (max-width: 520px) {
  body .main .main__destacadoPrincipal img {
    width: 100%; } }

@media (max-width: 450px) {
  body .main .publicacionesPrincipal .publicacion img {
    width: 280px;
    height: 190px; }
  body .main .main__destacados .main__filtros .main__listaFiltros {
    display: flex;
    justify-content: flex-start; }
    body .main .main__destacados .main__filtros .main__listaFiltros li {
      margin: 5px; }
      body .main .main__destacados .main__filtros .main__listaFiltros li select {
        margin: 5px; } }
