.header {
  background-color: #ef6001;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  position: relative; }
  .header .header__logo {
    height: 15vh; }
  .header .header__nav {
    margin: 0 3% 0 0;
    display: flex; }
  .header .header__listaNavegacion {
    display: flex;
    list-style-type: none;
    align-items: flex-end; }
    .header .header__listaNavegacion li {
      margin: 18px; }
    .header .header__listaNavegacion a {
      text-decoration: none;
      color: black;
      font-family: 'Nunito', sans-serif;
      font-weight: bold; }
      .header .header__listaNavegacion a:hover {
        color: white;
        transition: all .3s; }

@media (max-width: 768px) {
  .header {
    height: 15vh;
    display: flex; }
    .header #nav {
      align-self: start;
      margin: 0%; }
    .header .header__listaNavegacion {
      flex-flow: row wrap; }
      .header .header__listaNavegacion li {
        margin: 15px 16px 0px 16px; }
    .header .header__listaNavegacion {
      font-size: 18px; } }

@media (max-width: 520px) {
  .header {
    align-items: center;
    height: 15vh; }
    .header a {
      max-height: 8vh; }
    .header #nav {
      margin: 0%; }
    .header .header__listaNavegacion {
      font-size: 12px; }
      .header .header__listaNavegacion li {
        margin: 3% 3% 0 3%; }
    .header .header__logo {
      height: 8vh;
      margin: auto 0; } }

.eslogan {
  display: flex;
  justify-content: center;
  width: 75%;
  font-family: 'Nunito', sans-serif;
  font-style: oblique;
  font-size: 14px;
  text-align: center;
  margin: 2% auto; }

@media (max-width: 1024px) {
  .eslogan {
    font-size: 12px; } }

@media (max-width: 768px) {
  .eslogan {
    font-size: 10px; } }

@media (max-width: 520px) {
  .eslogan {
    width: 85%;
    font-size: 8px; } }

#footer {
  background-color: #ef6001;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 500; }
  #footer ul {
    list-style-type: none; }
    #footer ul li a {
      color: black; }

.containerForm {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .containerForm .cotizarVehiculo {
    background-color: white;
    border-radius: 7px;
    margin: 2% 8%;
    padding: 5% 3%;
    width: 70%;
    box-shadow: 0px 0px 12px 3px grey;
    -webkit-box-shadow: 0px 0px 12px 3px grey;
    -moz-box-shadow: 0px 0px 12px 3px grey; }
    .containerForm .cotizarVehiculo .preguntaCotizar {
      font-family: 'Nunito', sans-serif;
      font-weight: bolder;
      margin: 2% 0;
      font-size: 1rem; }
    .containerForm .cotizarVehiculo .formCotizar {
      font-family: 'Nunito', sans-serif;
      margin: 2% 0;
      font-size: 0.8rem; }
      .containerForm .cotizarVehiculo .formCotizar .listaCotizar {
        list-style-type: none;
        font-family: 'Nunito', sans-serif;
        font-weight: bolder;
        margin: 10px;
        padding: 10px; }
        .containerForm .cotizarVehiculo .formCotizar .listaCotizar li {
          margin: 10px 0;
          font-size: 1rem; }
        .containerForm .cotizarVehiculo .formCotizar .listaCotizar select {
          margin: 0 0 0 16px;
          border-radius: 10px;
          outline: none; }
        .containerForm .cotizarVehiculo .formCotizar .listaCotizar input {
          margin: 0 0 0 16px;
          border-radius: 10px;
          border: 1px solid black;
          outline: none; }
      .containerForm .cotizarVehiculo .formCotizar .btnCotizar {
        padding: 1% 2%;
        margin: 1px 2%;
        border: 1px solid black;
        border-radius: 4px;
        background-color: white; }
        .containerForm .cotizarVehiculo .formCotizar .btnCotizar:hover {
          transition: all .3s;
          background-color: black;
          color: white; }
      .containerForm .cotizarVehiculo .formCotizar .btnBorrarCotizar {
        padding: 1% 2%;
        margin: 1px 2%;
        border: 1px solid black;
        border-radius: 4px;
        background-color: white; }
        .containerForm .cotizarVehiculo .formCotizar .btnBorrarCotizar:hover {
          transition: all .3s;
          background-color: black;
          color: white; }

@media (max-width: 768px) {
  .main .cotizarVehiculo .preguntaCotizar {
    font-size: 1rem; } }

@media (max-width: 520px) {
  .main .cotizarVehiculo .preguntaCotizar {
    font-size: 0.8rem; } }

.containerForm {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .containerForm .simplificarBusqueda {
    background-color: white;
    border-radius: 7px;
    margin: 2% 8%;
    padding: 3% 3%;
    width: 70%;
    box-shadow: 0px 0px 12px 3px grey;
    -webkit-box-shadow: 0px 0px 12px 3px grey;
    -moz-box-shadow: 0px 0px 12px 3px grey; }
    .containerForm .simplificarBusqueda h1 {
      font-family: 'Nunito', sans-serif;
      font-weight: bolder;
      margin: 2% 0;
      font-size: 1.5rem; }
    .containerForm .simplificarBusqueda h2 {
      font-family: 'Nunito', sans-serif;
      margin: 0;
      font-size: 1.3rem; }
    .containerForm .simplificarBusqueda form .listaAsesoria {
      list-style-type: none;
      font-family: 'Nunito', sans-serif;
      font-weight: bolder;
      margin: 10px 10px 0 10px;
      padding: 10px; }
      .containerForm .simplificarBusqueda form .listaAsesoria li {
        margin: 2% 0;
        font-size: 1rem; }
      .containerForm .simplificarBusqueda form .listaAsesoria select {
        margin: 0 0 0 16px;
        border-radius: 10px;
        outline: none; }
        .containerForm .simplificarBusqueda form .listaAsesoria select option {
          font-weight: 100; }
      .containerForm .simplificarBusqueda form .listaAsesoria input {
        margin: 0 0 0 16px;
        border-radius: 10px;
        border: 1px solid black; }
      .containerForm .simplificarBusqueda form .listaAsesoria span {
        margin: 0 0 0 1%; }
    .containerForm .simplificarBusqueda form input {
      padding: 1% 2%;
      margin: 1px 2%;
      border: 1px solid black;
      border-radius: 4px;
      background-color: white; }
      .containerForm .simplificarBusqueda form input:hover {
        transition: all .3s;
        background-color: black;
        color: white; }

.mainMiCuenta {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .mainMiCuenta .mainMiCuenta__misDatos {
    background-color: white;
    border-radius: 7px;
    margin: 2% 8%;
    padding: 5% 3%;
    box-shadow: 0px 0px 12px 3px grey;
    -webkit-box-shadow: 0px 0px 12px 3px grey;
    -moz-box-shadow: 0px 0px 12px 3px grey;
    font-family: 'Nunito', sans-serif; }
    .mainMiCuenta .mainMiCuenta__misDatos h1 {
      font-size: 1.5rem;
      margin: 0 0 0 10px; }
    .mainMiCuenta .mainMiCuenta__misDatos section {
      display: flex;
      flex-flow: row nowrap; }
      .mainMiCuenta .mainMiCuenta__misDatos section .mainMiCuenta__fotoPerfil {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start; }
        .mainMiCuenta .mainMiCuenta__misDatos section .mainMiCuenta__fotoPerfil img {
          width: 100%; }
      .mainMiCuenta .mainMiCuenta__misDatos section .mainMiCuenta__datos {
        width: 200px;
        display: flex;
        flex-flow: row wrap; }
        .mainMiCuenta .mainMiCuenta__misDatos section .mainMiCuenta__datos div {
          margin: 5px; }

@media (max-width: 520px) {
  .mainMiCuenta .mainMiCuenta__misDatos h1 {
    font-size: 1rem; } }

.mainGuardados {
  display: flex; }
  .mainGuardados .misGuardadosPrincipal {
    font-family: 'Nunito', sans-serif;
    margin: 3%; }
    .mainGuardados .misGuardadosPrincipal h1 {
      margin: 5%; }
    .mainGuardados .misGuardadosPrincipal .misGuardadosPrincipal__guardados {
      display: flex;
      flex-flow: column nowrap;
      align-items: center; }
      .mainGuardados .misGuardadosPrincipal .misGuardadosPrincipal__guardados div {
        background-color: white;
        border-radius: 7px;
        margin: 2% 8%;
        padding: 5% 3%;
        width: 90%;
        box-shadow: 0px 0px 12px 3px grey;
        -webkit-box-shadow: 0px 0px 12px 3px grey;
        -moz-box-shadow: 0px 0px 12px 3px grey; }
        .mainGuardados .misGuardadosPrincipal .misGuardadosPrincipal__guardados div a img {
          width: 100%;
          max-width: 400px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #e6e6e6; }
  body .main .destacados {
    display: flex;
    justify-content: space-between;
    margin: 4% 5%;
    color: black;
    font-family: 'Nunito', sans-serif;
    font-size: 18px; }
    body .main .destacados h2 {
      align-self: center; }
    body .main .destacados aside h3 {
      margin: 1% 0; }
    body .main .destacados aside .listaFiltro {
      display: flex;
      list-style-type: none; }
      body .main .destacados aside .listaFiltro select {
        padding: 5px;
        border: none;
        border-radius: 10px;
        margin: 0 12px; }
    body .main .destacados aside .botonesFiltro input {
      padding: 5px;
      margin: 2% 2% 2% 0;
      border: none;
      border-radius: 6px;
      background-color: white; }
  body .main .publicacionesPrincipal {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 75%;
    margin: 2% auto; }
    body .main .publicacionesPrincipal .publicacion {
      width: calculate(img);
      background-color: rgba(255, 255, 255, 0.74);
      padding: 10px 10px 20px 10px;
      margin: 20px 10px;
      border-radius: 5px;
      box-shadow: 0px 0px 12px 3px grey;
      -webkit-box-shadow: 0px 0px 12px 3px grey;
      -moz-box-shadow: 0px 0px 12px 3px grey;
      transition: all 0.1s ease-in-out; }
      body .main .publicacionesPrincipal .publicacion:hover {
        box-shadow: 0px 0px 40px 3px #585858;
        -webkit-box-shadow: 0px 0px 40px 3px #585858;
        -moz-box-shadow: 0px 0px 40px 3px #585858;
        transform: scale(110%); }
      body .main .publicacionesPrincipal .publicacion img {
        width: 350px;
        height: 225px;
        border-radius: 5px; }
      body .main .publicacionesPrincipal .publicacion h3 {
        display: flex;
        justify-content: center;
        font-family: 'Ubuntu', sans-serif;
        margin: 10px 0; }
  body .main .destacadoPrincipal {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.678);
    border-radius: 7px;
    margin: 2% 8%;
    padding: 5% 3%;
    box-shadow: 0px 0px 12px 1px grey;
    -webkit-box-shadow: 0px 0px 12px 1px grey;
    -moz-box-shadow: 0px 0px 12px 1px grey; }
    body .main .destacadoPrincipal img {
      width: 750px;
      border-radius: 7px; }
  body .main .masResultados {
    display: flex;
    justify-content: center;
    margin: 2%; }
    body .main .masResultados button {
      font-family: 'Nunito', sans-serif;
      padding: 10px;
      border-radius: 5px;
      font-weight: bold;
      border: none;
      background-color: white;
      box-shadow: inset 0 0 0 0 white;
      transition: ease-out 0.2; }
      body .main .masResultados button:hover {
        transition: all .4s;
        box-shadow: inset 109px 0 0 0 black;
        color: white; }

@media (max-width: 1570px) {
  body .main .publicacionesPrincipal {
    width: 90%;
    margin: 1% auto; } }

@media (max-width: 1300px) {
  body .main .publicacionesPrincipal {
    width: 100%;
    margin: 0 auto; } }

@media (max-width: 1024px) {
  body .main .destacadoPrincipal img {
    width: 100%; }
  body .main .destacados {
    font-size: 12px;
    margin: 20px; }
    body .main .destacados aside h3 {
      display: flex;
      justify-content: flex-end; }
    body .main .destacados aside .listaFiltro {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end; }
      body .main .destacados aside .listaFiltro li {
        margin: 5px;
        display: flex;
        justify-content: flex-end;
        font-size: 16px; }
    body .main .destacados aside .botonesFiltro {
      display: flex;
      justify-content: flex-end; }
  body .main .publicacionesPrincipal {
    width: 100%;
    margin: 1% auto; } }

@media (max-width: 520px) {
  body .main .destacadoPrincipal img {
    width: 100%; }
  body .main .destacados {
    font-size: 14px;
    margin: 5px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center; }
    body .main .destacados aside h3 {
      display: flex;
      justify-content: flex-start; }
    body .main .destacados aside .listaFiltro {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start; }
      body .main .destacados aside .listaFiltro li {
        margin: 5px;
        display: flex;
        justify-content: flex-end; }
    body .main .destacados aside .botonesFiltro {
      display: flex;
      justify-content: center; }
    body .main .destacados .publicacionesPrincipal {
      margin: 1%; } }
