/*------------------------------------------FOOTER
-------------------------------------------------------------------------------------------------------------------*/
$naranja: #ef6001;

#footer {
    width: 100%;
    background-color: $naranja;
    height: 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    .footer--container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 30%;
    }
    .footer__contacto { 
        ul {
            list-style-type: none;
            li {
                a{
                    color: black;
                }
            }
        }
    }
    .footer__derechos {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        text-align: center;
        span {
            display: flex;
            justify-content: center;
        }
    }
    .footer__socialMedia {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        span {
            display: flex;
            align-items: center;
            font-weight: 600;
            color: #acacac;
            padding: 6px;
            a {
                text-decoration: none;
                color:#acacac;
            }
            img {
                width: 24px;
            }
        }
    }
}

@media (max-width: 620px) {
    body {
        #footer {
            font-size: 14px;
        }
    }
}

@media (max-width: 520px) {
    body {
        #footer {
            font-size: 12px;
        }
    }
}

@media (max-width: 450px) {
    body {
        #footer {
            font-size: 10px;
            .footer__socialMedia {
                img {
                    width: 18px;
                }
            }
        }
    }
}