$naranja: #d65600;
.header {
    background-color: $naranja;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    .header__logo {
        height: 15vh;
    }
    .header__nav {
        margin: 0 3% 0 0;
        display: flex;
    }
    .header__listaNavegacion {
        display: flex;
        list-style-type: none;
        align-items: flex-end;
        li {
            margin: 18px;
        }
        a {
          text-decoration: none;
          color: black;
          font-family: 'Nunito', sans-serif;
          font-weight: bolder;
          &:hover {
              color: white;
              transition: all .3s;
          }
        }
    }
}


@media (max-width: 768px) {
    .header {
        height: 15vh;
        display: flex;
        #nav {
            align-self: start;
            margin: 0%;
        }
        .header__listaNavegacion {
            flex-flow: row wrap;   
            li {
                margin: 15px 16px 0px 16px;
            }
        }
        .header__listaNavegacion {
            font-size: 18px;

        }
    }
}



@media (max-width: 520px) {
    .header {
        align-items: center;
        height: 15vh;
        a {
             max-height: 8vh;
        }
        #nav {
            margin: 0%;
        }
        .header__listaNavegacion {
            font-size: 12px;
            li {
                margin: 3% 3% 0 3%;
            }
        }
        .header__logo {
            height: 8vh;
            margin: auto 0;
        }
    }
}