$naranja: #d65600;
.header {
    background-color: $naranja;
    height: 8rem;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: static;
    .header__logoBox {
        height: 8rem;
        display: flex;
        align-items: flex-end;
        margin: 0 0 0 10px ;
    }
    .boxBuscar {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 30%;
        .barraBuscar {
            padding: 8px 10px 8px 35px;
            outline: none;
            border: none;
            border-radius: 3px;
            background: white url("../multimedia/search-icon.png") no-repeat 9px center;
            width: 100%;
            margin: 0 0 15px 0;
        }
    }
    .header__nav {
        margin: 0 3% 0 0;
        display: flex;
        .header__listaNavegacion {
            display: flex;
            list-style-type: none;
            align-items: flex-end;
            li {
                margin: 18px;
            }
            a {
              text-decoration: none;
              color: black;
              font-family: 'Nunito', sans-serif;
              font-weight: bolder;
              &:hover {
                  color: white;
                  transition: all .3s;
              }
            }
        }
    }
    #respmenu {
        display: none;
    }
}




@media (max-width: 1450px) {
    .header {
        justify-content: flex-start;
        .boxBuscar {
            transform: translate(70px, -60px);
            margin: 0 0 0 6%;
            width: 53%;
        }
        #nav {
            position: absolute;
            top: 70px;
            left: 300px;
            margin: 0 0 0 4%;
            .header__listaNavegacion {
                display: flex;
                justify-content: space-between;
                width: 800px;
                li {
                    margin: 18px 30px;
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    .header {
        .boxBuscar {
            width: 46%;
        }
        #nav {
            margin: 0;
        }
    }
}

@media (max-width: 1130px) {
    .header {
        #nav {
            .header__listaNavegacion {
                justify-content: flex-start;
                width: 700px;
                li {
                    margin: 18px 20px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .header {
        .boxBuscar {
            margin: 0;
        }
        #nav {
            left: 250px;
            margin: 0;
            .header__listaNavegacion {
                width: 600px;
                li {
                    margin: 18px 10px;
                }
            }
        }
    }
}


@media (max-width: 868px) {
    .header {
        .header__logoBox {
            margin: 0 0 0 100px;
        }
        .boxBuscar {
            .barraBuscar {
                margin: 130px 5px 0 -40px;
            }
        }
        #nav {
            display: none;
        }
        #respmenu input[type="checkbox"], #respmenu .fa-bars, #respmenu .fa-times {
            position: absolute;  
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            left: 30px;
            top: 45px;
            width: 36px;
            height: 36px;  
        }
        #respmenu .fa-bars, #respmenu .fa-times {
            font-size: 36px;
            pointer-events: none;
        }
        #respmenu input[type="checkbox"] {
            opacity: 0; 
        }
        #respmenu {
            display: block;
            position: absolute;
            min-height: 36px;
            .header__listaNavResp{
                transform: translate(0, 7rem);
                font-family: 'Nunito', sans-serif;
                font-weight: bold;
                li {
                    a {
                        color: black;
                        text-decoration: none;
                        display: block;
                        padding: 12px 25px;
                        max-width: 250px;
                        background-color: $naranja;
                        border-bottom: 1px solid black;
                    }
                }
            }
        }
        #respmenu nav {
            display: none;
          }
        #respmenu input:checked ~ nav {
            display: block;
          }
        #respmenu input:checked ~ .fa-bars {
            display: none;
          }
        #respmenu input:not(:checked) ~ .fa-times {
            display: none;
          }
    }
}



@media (max-width: 768px) {
    .header {
        display: flex;
        flex-flow: row wrap;
        .header__logoBox {
            display: flex;
            justify-content: center;
            align-items: center;
            .header__logo {
                width: 100%;
                margin: 20px 0 0 0;
            }
        }
        #nav {
            align-self: start;
            margin: 0%;
            .header__listaNavegacion {
                flex-flow: row wrap;
                font-size: 18px;  
                li {
                    margin: 15px 16px 0px 16px;
                }
            }
        }
        .boxBuscar {
            width: 35%;
        }
    }
}

@media (max-width: 672px) {
    .header {
        height: 10rem;
        .boxBuscar {
            width: 75%;
            .barraBuscar {
                margin: 45px 0 0 20px;
            }
        }
    }
}


@media (max-width: 520px) {
    .header {
        #nav {
            margin: 0%;
            .header__listaNavegacion {
                font-size: 12px;
                li {
                    margin: 3% 3% 0 3%;
                }
            }
        }
        .boxBuscar {
            .barraBuscar {
                margin: 45px 0 0 -45px;
            }
        }
    }
}