$naranja: #d65600;
.header {
    background-color: $naranja;
    height: 8rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: static;
    .header__logoBox {
        height: 8rem;
        display: flex;
        align-items: flex-end;
        margin: 0 0 0 10px ;
    }
    .boxBuscar {
        display: flex;
        align-items: flex-end;
        margin: 0 0 15px 0;
        .barraBuscar {
            padding: 8px 10px 8px 35px;
            outline: none;
            border: none;
            border-radius: 3px;
            background: white url("../multimedia/search-icon.png") no-repeat 9px center;
            width: 600px;
        }
    }
    .header__nav {
        margin: 0 3% 0 0;
        display: flex;
    }
    .header__listaNavegacion {
        display: flex;
        list-style-type: none;
        align-items: flex-end;
        li {
            margin: 18px;
        }
        a {
          text-decoration: none;
          color: black;
          font-family: 'Nunito', sans-serif;
          font-weight: bolder;
          &:hover {
              color: white;
              transition: all .3s;
          }
        }
    }
}


@media (max-width: 1550px) {
    .header {
        .boxBuscar {
            .barraBuscar {
                width: 450px;
            }
        }
    }
}

@media (max-width: 1450px) {
    .header {
        display: flex;
        justify-content: flex-start;
        .boxBuscar {
            transform: translate(70px, -60px);
            margin: 0 0 0 5%;
            .barraBuscar {
                width: 800px;
            }
        }
        #nav {
            position: absolute;
            top: 70px;
            left: 300px;
            margin: 0 0 0 5%;
            .header__listaNavegacion {
                display: flex;
                justify-content: space-between;
                width: 800px;
                li {
                    margin: 18px 30px;
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    .header {
        .boxBuscar {
            .barraBuscar{
                width: 650px;
            }   
        }
        #nav {
            margin: 0;
        }
    }
}

@media (max-width: 1130px) {
    .header {
        .boxBuscar {
            .barraBuscar{
                width: 550px;
            }   
        }
        #nav {
            .header__listaNavegacion {
                justify-content: flex-start;
                width: 700px;
                li {
                    margin: 18px 20px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .header {
        .boxBuscar {
            margin: 0;
        }
        #nav {
            left: 250px;
            margin: 0;
            .header__listaNavegacion {
                width: 600px;
                li {
                    margin: 18px 10px;
                }
            }
        }
    }
}


// @media (max-width: 868px) {
//     .header {

//     }
// }



@media (max-width: 768px) {
    .header {
        display: flex;
        .header__logoBox {
            display: flex;
            justify-content: center;
            align-items: center;
            .header__logo {
                width: 100%;
                margin: 10px 0 0 0;
            }
        }
        #nav {
            align-self: start;
            margin: 0%;
        }
        .header__listaNavegacion {
            flex-flow: row wrap;   
            li {
                margin: 15px 16px 0px 16px;
            }
        }
        .header__listaNavegacion {
            font-size: 18px;

        }
    }
}



@media (max-width: 520px) {
    .header {
        #nav {
            margin: 0%;
        }
        .header__listaNavegacion {
            font-size: 12px;
            li {
                margin: 3% 3% 0 3%;
            }
        }
    }
}